body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.inactive {
  display: none;
}

.contenedorMobile {
  width: 360px;
  height: 640px;
  background-color: darkgrey;
  text-align: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
select{
  width: 177px;
  height: 21px;
}
.titular div {
  margin-top: 10px;
}

#generar {
  margin-top: 20px;
}

.contenedorMensaje{
  width: 300px;
  margin: 25px auto;
  
}

p{
  text-align: start;
}

#boton {
  margin-bottom: 20px;
}